body {
    background: #f0f0f1;
    min-width: 0;
    color: #3c434a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.Login-Form {
    width: 320px;
    padding: 5% 0 0;
    margin: auto;
}

.Login-Form form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 34px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .04);
}

label {
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 3px;
    text-transform: capitalize;
}

.input,
input[type=password],
input[type=text],
input[type=date],
select#pay_type{
    font-size: 24px;
    line-height: 1.33333333;
    width: 100%;
    border-width: 0.0625rem;
    padding: 0.1875rem 0.3125rem;
    margin: 0 6px 16px 0;
    min-height: 40px;
    max-height: none;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
}

.button-primary {
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    min-height: 32px;
    line-height: 2.30769231;
    padding: 0 12px;
    vertical-align: baseline;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 3px 15px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

.LoginLogo {
       background-image: url(https://www.thevibes.academy/images/logo.png) !important;
    background-size: 100%;
    height: 60px;
    width: 280px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.sidebarMenu {
    width: 160px;
    background-color: #1d2327;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 32px;
    left: 0;
}

.sidebarMenu ul {
    margin: 0px;
    list-style: none;
    text-align: left;
}

.sidebarMenu ul a {
    color: #f0f0f1;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 11px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.FinalContent {
    padding: 40px;
}

.message {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 13px 0px;
    padding: 10px 10px;
}

div.message {
    border-left-color: #00a32a;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: baseline;
    gap: 19px;
    text-align: center;
}

.postbox {
    position: relative;
    min-width: 255px;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background: #fff;
    padding: 23px;
}

.row .col {
  flex: 0 0 32%;
}

.row .col h1 {
    font-size: 36px;
    margin-bottom: 8px;
    font-weight: 500;
}

h1 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px;
    line-height: 1.3;
}

.ContentViwer {
    width: 100%;
    margin-left: 156px;
}

.sidebarMenu ul li ul {
    background-color: #2c3338;
}

.sidebarMenu ul li ul {
    display: none;
}

.sidebarMenu ul li:hover ul {
    display: block;
}

.sidebarMenu ul li:hover {
    background: #2271b1;
    color: #fff;
}

.sidebarMenu ul li:hover ul li:hover a {
    color: #2271b1;
    background-color: #2c3338;
}

.menuActive {
    background: #2271b1;
    color: #fff;
}

.wpadminbar {
    direction: ltr;
    color: #c3c4c7;
    font-size: 13px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 2.46153846;
    height: 32px;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background: #1d2327;
    display: flex;
    justify-content: space-between;
    align-items: center;
        position: fixed;
    top: 0;
    left: 0;
}

.wpadminbar a {
    color: #f0f0f1;
    text-decoration: none;
    margin-right: 10px;
}

.headerMenu {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 6px;
}

.FullContentDesign {
    display: flex;
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
    padding: 12px 10px;
    border-bottom: 1px solid #c3c4c7;
    background: #fff;
}

.linkbtn {
    text-decoration: none;
    color: #2271b1;
}

table.dataTable tbody tr {
    background-color: white;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 16px 10px;
}

.dataTables_wrapper .dataTables_length {
    margin-bottom: 17px;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    color: inherit;
    margin-left: 3px;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    color: inherit;
    padding: 4px;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: 500;
    font-size: 14px;
}

.DatatableLayout {
    margin-top: 41px;
}

table.dataTable.row-border>tbody>tr>th,
table.dataTable.row-border>tbody>tr>td,
table.dataTable.display>tbody>tr>th,
table.dataTable.display>tbody>tr>td {
    border-top: none !important;
}

table.dataTable.no-footer {
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.formDetails {
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background-color: #fff;
    padding: 31px;
    margin-bottom: 30px;
}

.formDetails .row {
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 29px;
    text-align: left;
}

.formDetails .row .col {
    flex: 0 0 22.60%;
}

.formDetails input[type=text] {
    background-color: #f9f9f9;
   font-size: 16px;
    padding: 0px 7px;
    margin: 0px 0px;
}

span.pay_monthly {
  background: #f2f575;
    color: #444;
    border-radius: 7px;
    padding: 3px 8px;
    font-size: small;
    font-weight: 600;
    border: 1px solid #bbbf00;
}

span.pay_onetime {
   background: #ffeaea;
    color: #161616;
    border-radius: 7px;
    padding: 3px 8px;
    font-size: small;
    font-weight: 600;
    border: 1px solid #d9aaaa;
}
.trxnStausfailure {
    background: #e50000;
    color: #fff;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: small;
    font-weight: 600;
    border: 1px solid #cf0000;
    text-transform: uppercase;
}
span.trxnStaususer_aborted {
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #493f4b;
    background: #e3c8a5;
    text-transform: uppercase;
}
span.trxnStaussuccess{
        border-radius: 5px;
    padding: 3px 8px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #13bd00;
    background: #89e97e;
    text-transform: uppercase;

}
.tablenew{
    margin-top: 25px;
}

.tablenew .col {
    flex: 0 0 100%;
}


.tablenew table td{
    border:1px solid #ccc;
        padding: 10px;
            font-size: 15px !important;
    font-weight: 400 !important;
}



.tdbg{
      background: #f3f3f3;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.tablenew table .total{
      font-size: 15px !important;
    font-weight: 700 !important;
}
.recordtable{
    width:100%;
}











